<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.HousePhotoMapper">
<resultMap id="BaseResultMap" type="com.example.entity.HousePhoto">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="hid" jdbcType="INTEGER" property="hid"/>
    <result column="photo" jdbcType="VARCHAR" property="photo"/>

</resultMap>
<!--添加图片-->
   <insert id="insertPhoto" parameterType="com.example.entity.HousePhoto">
        insert into housephoto(hid,photo)
        values(#{hid},#{photo})
    </insert>

    <select id="selectImg" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from housephoto
        where hid = #{hid}
    </select>

</mapper>