<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.HouseInfoMapper">
    <resultMap id="BaseResultMap" type="com.example.entity.HouseInfo">
        <id column="hid" jdbcType="INTEGER" property="hid"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="region" jdbcType="VARCHAR" property="region"/>
        <result column="village" jdbcType="VARCHAR" property="village"/>
        <result column="area" jdbcType="VARCHAR" property="area"/>
        <result column="roomnum" jdbcType="VARCHAR" property="roomnum"/>
        <result column="floor" jdbcType="VARCHAR" property="floor"/>
        <result column="orientation" jdbcType="VARCHAR" property="orientation"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
        <result column="text" jdbcType="VARCHAR" property="text"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="likecount" jdbcType="INTEGER" property="likecount"/>
        <collection property="housePhotos" ofType="HousePhoto">
            <id column="pid" jdbcType="INTEGER" property="pid" />
            <result column="photo" jdbcType="VARCHAR" property="photo" />
        </collection>
    </resultMap>
    <select id="selectAllHouse"  resultMap="BaseResultMap">
        select * from houseinfo
        where status = 0
    </select>
    <!--模糊查询-->
    <select id="selectHouseByCity" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from houseinfo
        where city like "%"#{city}"%" and status=0
    </select>
    <select id="selectHouseByTitle" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from houseinfo
        where title like "%"#{title}"%" and status=0
    </select>
    <select id="selectHouseByPrice" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from houseinfo
        where status=0 and price between 0 and #{price}
    </select>

    <!--未审核的房源-->
    <select id="selectHouse"  resultMap="BaseResultMap">
        select * from houseinfo
        where status=1
    </select>
    <!--通过审核-->
    <update id="updateStatus" parameterType="com.example.entity.HouseInfo">
        update houseinfo set status=0
        where hid=#{hid}
    </update>
    <!--未审核房源-->
    <update id="updateStatus2">
         update houseinfo set status=status+1
        where hid=#{hid}
    </update>

    <!--关联查询：一个房源，有多张照片-->
    <select id="queryById" resultMap="BaseResultMap">
        select *
        from houseinfo,housephoto
        where hid=phid
    </select>
    <!--根据用户id查询房源-->
    <select id="queryHouseByUid" resultMap="BaseResultMap">
        select *
        from houseinfo
        where uid=#{uid}
    </select>

    <!--添加房源-->
    <insert id="insertHouse" parameterType="com.example.entity.HouseInfo">
        insert into houseinfo(uid,title,province,city,region,village,area,roomnum,floor,orientation,price,text)
        values (#{uid},#{title},#{province},#{city},#{region},#{village},#{area},#{roomnum},#{floor},#{orientation},#{price},#{text})
    </insert>

    <!--房源删除-->
    <delete id="deleteHouseByHid" parameterType="java.lang.Integer">
        delete from houseinfo
        where hid=#{hid}
    </delete>

    <!--房源的更新-->
    <update id="updateHouseByHid" parameterType="com.example.entity.HouseInfo">
        update houseinfo
        set uid=#{uid},title=#{title},province=#{province},city=#{city},region=#{region},village=#{village},area=#{area},
        roomnum=#{roomnum},floor=#{floor},orientation=#{orientation},price=#{price},text=#{text}
        where hid=#{hid}
    </update>
</mapper>