<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.HouseInfoMapper">
    <resultMap id="BaseResultMap" type="com.example.entity.HouseInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
        <result column="picture" jdbcType="VARCHAR" property="picture"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="region" jdbcType="VARCHAR" property="region"/>
        <result column="village" jdbcType="VARCHAR" property="village"/>
        <result column="area" jdbcType="INTEGER" property="area"/>
        <result column="roomnum" jdbcType="VARCHAR" property="roomnum"/>
        <result column="floor" jdbcType="VARCHAR" property="floor"/>
        <result column="orientation" jdbcType="VARCHAR" property="orientation"/>
        <result column="text" jdbcType="VARCHAR" property="text"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

<!--    查询房源信息给首页展示-->
    <select id="selectHouseToWeb" resultMap="BaseResultMap">
        select * from houseinfo
        where status = 0
    </select>

    <select id="selectAllHouse"  resultMap="BaseResultMap">
        select * from houseinfo
        where status = 0
    </select>

    <select id="selectHouseByCity" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from houseinfo
        where city like "%"#{city}"%" and status=0
    </select>
    <select id="selectHouseByTitle" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from houseinfo
        where title like "%"#{title}"%" and status=0
    </select>
    <select id="selectHouseByPrice" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from houseinfo
        where status=0 and price between 0 and #{price}
    </select>

    <select id="selectHouseByHid"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from houseinfo
        where id=#{id}
    </select>
<!--    未审核的房源-->
    <select id="selectHouse"  resultMap="BaseResultMap">
        select * from houseinfo
        where status != 0
    </select>
    <!--通过审核-->
    <update id="updateStatusTrue" parameterType="java.lang.Integer">
        update houseinfo set status=0
        where id=#{id}
    </update>

    <select id="selectMyself" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from houseinfo
        where phone=#{phone}
    </select>

    <insert id="insertHouse" parameterType="com.example.entity.HouseInfo" useGeneratedKeys="true"  keyProperty="id">
        insert into houseinfo(phone,title,picture,province,city,region,village,area,roomnum,floor,orientation,price,text)
        values (#{phone},#{title},#{picture},#{province},#{city},#{region},#{village},#{area},#{roomnum},#{floor},#{orientation},#{price},#{text})
    </insert>

<!--    房源删除-->
    <delete id="deleteHouseById" parameterType="java.lang.Integer">
        delete from houseinfo
        where id=#{id}
    </delete>

    <!--房源的更新-->
    <update id="updateHouseByHid" parameterType="com.example.entity.HouseInfo">
        update houseinfo
        set phone=#{phone},title=#{title},province=#{province},city=#{city},region=#{region},village=#{village},area=#{area},
        roomnum=#{roomnum},floor=#{floor},orientation=#{orientation},price=#{price},text=#{text}
        where id=#{id}
    </update>
</mapper>