<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>头像修改</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
</head>

<body>
<form class="layui-form" action="" id="editForm">
    <input type="hidden" name="uid" id="inputuid" />
        <div class="layui-form-item">
            <label class="layui-form-label">图片地址</label>
            <div class="layui-input-inline">
                <input type="text" name="headportrait" autocomplete="off" class="layui-input image">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label ">照片:</label>
            <div class="layui-input-block">
                <div class="layui-upload-list">
                    <img class="layui-upload-img" id="demo1"  style="width:100px;height:100px;">
                </div>
                <button type="button" class="layui-btn" id="test1">上传图片</button>
            </div>
        </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="edit-btn">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</form>

<!--<script type="text/html" id="imgtmp">-->
<!--    <img src="/ioReadImage/{{data.headportrait}}" style="width:50px;height:50px;"/>-->
<!--</script>-->
<script th:inline="none">
    function child(data) {
        layui.use(['form','jquery'],function () {
            var form = layui.form;
            var $ = layui.jquery;

            console.log(data);
            //给编辑表单赋值
            $("#inputuid").val(data.uid);
            $("#inputphone").val(data.phone);

            $(document).ready(function(){
                $('#demo1').attr('src','/ioReadImage/'+data.headportrait);
            })
            form.render();

        });


    }

    layui.use(['form', 'laydate','upload','jquery','layer'], function() {
        var form = layui.form;
        var laydate = layui.laydate;
        var upload = layui.upload;
        var layer = layui.layer;
        var $ = layui.jquery;

        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '/upload/'
            ,accept:'images'
            ,size:50000
            ,before: function(obj){

                obj.preview(function(index, file, result){

                    $('#demo1').attr('src', result);
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                var demoText = $('#demoText');
                demoText.html('<span style="color: #4cae4c;">上传成功</span>');

                var fileupload = $(".image");
                fileupload.attr("value",res.data.src);
                console.log(fileupload.attr("value"));
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
        //laydate

        //监听提交
        form.on('submit(edit-btn)', function() {
            var formData =  new FormData($("#editForm")[0]);//获取填写表单数据
            $.ajax({
                cache : true,
                type : "post",
                dataType:"json",
                url : "/user/headportraitupdate",
                async : false,
                data : formData,  // 你的formid，传参数到后台
                contentType: false,  //jax 中 contentType 设置为 false 是为了避免 JQuery 对其操作，从而失去分界符，而使服务器不能正常解析文件
                processData: false,  //当设置为true的时候,jquery ajax 提交的时候不会序列化 data，而是直接使用da
                success : function(data){ //data后台return的值
                    if (data==1) {
                        layer.msg('修改成功!', {
                            icon: 1, time: 1000, end: function () {
                                window.parent.location.reload();//修改成功后刷新父界面
                            }
                        });

                    } else {
                        alert("失败");
                    }
                },
            });
            return false;
        });

    });
</script>

</body>
</html>