<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>房屋租凭网</title>
	<meta charset="utf-8">
	<meta name="author" content="">
	<meta name="description" content="La casa free real state fully responsive html5/css3 home page website template"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	
	<link rel="stylesheet" type="text/css" href="/pxnt_7_La-Casa/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/pxnt_7_La-Casa/css/responsive.css">

	<script type="text/javascript" src="/pxnt_7_La-Casa/js/jquery.js"></script>
	<script type="text/javascript" src="/pxnt_7_La-Casa/js/main.js"></script>
	<script type="text/javascript" src="/layui/jquery-3.2.1.min.js"></script>

	<script type="text/javascript" defer="true">
		$(document).ready(function(){
			$.ajax({
				url: '/user/toIndex',
				type: 'get',//请求方式
				success: function(result) {
					console.log(result);
					if(null != result && "" != result){
						document.getElementById("userName").innerHTML
								= '<font color="white">欢迎，'+result.name+'</font>';
						document.getElementById("logout").innerHTML
								= "<a href='http://localhost:8080/user/logout'>退出</a>";
					}else{
						document.getElementById("login").innerHTML
								= "<a href='http://localhost:8080/userlogin'>登录</a>";
						document.getElementById("register").innerHTML
								= "<a href='http://localhost:8080/register'>注册</a>";
					}
				}
			});

		});
	</script>
</head>
<body>

	<section class="hero">
		<header>
			<div class="wrapper">
				<a href="index"><img src="/pxnt_7_La-Casa/img/logo.png" class="logo" alt="" titl=""/></a>
				<a href="#" class="hamburger"></a>
				<nav>
					<ul>
						<li><a href="managerLogin">管理员登录</a></li>
						<li><a id="personal" href="usermain">个人中心</a></li>
						<li id="userName"></li>
						<li><a id="login"></a></li>
						<li><a id="register"></a></li>
						<li><a id="logout"></a></li>
					</ul>

				</nav>
			</div>
		</header>

			<section class="caption">
				<h2 class="caption">Find You Dream Home</h2>
				<h3 class="properties">Appartements - Houses - Mansions</h3>
			</section>
	</section>

	<div class="tlinks">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
	<section class="listings">
		<div class="wrapper">
			<ul class="properties_list"  >
				<li th:each="h,iterStat:${houseList}">
					<a th:href="'http://localhost:8080/housedetail?id='+${h.id}">
						<img th:src="${h.picture}"   alt="" title="" class="property_img" />
					</a>
					<a><span class="price" th:text="${h.price}">价格:</span></a>
					<div class="property_details">
						<h1>
							<a href="#" th:text="${h.title}"></a>
						</h1>
						<h2 th:text="${h.text}"><span class="property_size">(288ftsq)</span></h2>
					</div>
				</li>
			</ul>
			<div class="more_listing">
				<a href="#" class="more_listing_btn">View More Listings</a>
			</div>
		</div>
	</section>	<!--  end listing section  -->

	<footer>
		<div class="wrapper footer">
			<ul>
				<li class="links">
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Policy</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</li>

				<li class="links">
					<ul>
						<li><a href="#">Appartements</a></li>
						<li><a href="#">Houses</a></li>
						<li><a href="#">Villas</a></li>
						<li><a href="#">Mansions</a></li>
						<li><a href="#">...</a></li>
					</ul>
				</li>

				<li class="links">
					<ul>
						<li><a href="#">New York</a></li>
						<li><a href="#">Los Anglos</a></li>
						<li><a href="#">Miami</a></li>
						<li><a href="#">Washington</a></li>
						<li><a href="#">...</a></li>
					</ul>
				</li>

				<li class="about">
					<p>La Casa is real estate minimal html5 website template, designed and coded by pixelhint, tellus varius, dictum erat vel, maximus tellus. Sed vitae auctor ipsum</p>
					<ul>
						<li><a href="#" class="facebook" target="_blank"></a></li>
						<li><a href="#" class="twitter" target="_blank"></a></li>
						<li><a href="#" class="google" target="_blank"></a></li>
						<li><a href="#" class="skype"></a></li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="copyrights wrapper">
			Copyright © 2015 La-Casa . All Rights Reserved.More Templates <a href="" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="" title="网页模板" target="_blank">网页模板</a>
		</div>
	</footer><!--  end footer  -->
	
</body>
</html>
