<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
</head>

<body>
<form class="layui-form" action="" id="editForm">
    <input type="hidden" name="mid" th:value="${manager.mid}" id="inputmid" />
    <div class="layui-form-item">
        <label class="layui-form-label">新密码:</label>
        <div class="layui-input-inline">
            <input type="password" name="password1" id="inputmpassword" lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">再输入一次:</label>
        <div class="layui-input-inline">
            <input type="password" name="mpassword" id="mpassword" lay-verify="required" placeholder="请再输入一次" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="update">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</form>

<!--<script type="text/html" id="imgtmp">-->
<!--    <img src="/ioReadImage/{{data.headportrait}}" style="width:50px;height:50px;"/>-->
<!--</script>-->
<script th:inline="none">
    layui.use(['form', 'laydate','upload','jquery','layer'], function() {
        var form = layui.form;
        var laydate = layui.laydate;
        var upload = layui.upload;
        var layer = layui.layer;
        var $ = layui.jquery;




        form.on("submit(update)", function (data) {
            var password1 = $('#inputmpassword').val();
            var password2 = $('#mpassword').val();
            var mid = $('#inputmid').val();
            var formData = new FormData;
            if (password1 == password2) {
                //给forDate赋值
                formData.set("mid",mid);
                formData.set("mpassword",password2);
                $.ajax({
                    url: "/manager/updatePassword",
                    type: "POST",
                    dataType:"json",
                    data: formData,
                    async: false,
                    contentType: false,   //jax 中 contentType 设置为 false 是为了避免 JQuery 对其操作，从而失去分界符，而使服务器不能正常解析文件
                    processData: false,
                    success: function (data) {
                        if (data==1) {
                            // alert('修改成功')
                            layer.msg('修改成功，自动跳转登录页面!', {
                                icon: 1, time: 2000, end: function () {
                                    // window.parent.location.reload();//修改成功后刷新父界面
                                    window.parent.location.href="login"
                                }
                            });
                        }else {
                            layer.msg('修改失败!');
                        }
                    }
                });
            } else {
                layer.msg("两次密码输入不一样");
            }
            return false;
        });




    });
</script>

</body>
</html>