<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>会员登录</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/layui/css/index.css">
</head>
<body background="\layui\css\plugin\1.jpg">
<div id="container">
    <div class="admin-login-background">
        <!--    action="/loginUser":控制层的方法 th:action="@{/user/login}" method="post"
           method="post"  请求方法post，前台登陆就不会显示用户名和密码   -->
        <form class="layui-form" id="loginform">
            <div class="layui-form-item">
                <i class="layui-icon layui-icon-username admin-icon admin-icon-username"></i>
                <input type="Integer" name="phone" id="phone"
                       placeholder="请输入你的电话号码"
                       autocomplete="off"
                       class="layui-input admin-input admin-input-username">
            </div>
            <div class="layui-form-item">
                <i class="layui-icon layui-icon-password admin-icon admin-icon-password"></i>
                <input type="password" name="password" id="password"
                       placeholder="请输入密码"
                       autocomplete="off"
                       class="layui-input admin-input">
            </div>
<!--            <div>-->
<!--                <i class="layui-icon layui-icon-password admin-icon admin-icon-password"></i>-->
<!--                <input type="password" name="name" id="name"-->
<!--                       placeholder="请输入密码"-->
<!--                       autocomplete="off"-->
<!--                       class="layui-input admin-input">-->
<!--            </div>-->
            <div class="layui-form-item">
                <a href="javascript:void(0);" title="点击更换验证码">
                    <img id="imgVerify" src="getVerify" alt="更换验证码" width="160px" height="50px" onclick="getVerify(this)">点击图片更换验证码
                </a>
            </div>
            <div class="layui-form-item">
                <input  type="text" id="verify" name="verify"
                        placeholder="请输入验证码"
                        autocomplete="off"
                        maxlength="4"
                        class="layui-input admin-input">
            </div>
            <!--  lay-submit-->
            <div>
                <button type="button" class="layui-btn admin-button" id="fomedemo">登陆</button>
            </div>
<!--            <div>-->
<!--                <input type="button" class="layui-btn admin-button register" value="注册">-->
<!--            </div>-->
        </form>
    </div>
</div>

<script src="/layui/jquery-3.2.1.min.js"></script>
<script src="/layui/layui.all.js"></script>
<script src="/layui/layui.js"></script>
<script src="/layui/lay/modules/jquery.js"></script>
<script>
    //获取验证码
    function getVerify() {
        // $("#imgCode").on("click", function() {
        $("#imgVerify").attr("src", 'getVerify?' + Math.random());//jquery方式
        // });
    }

</script>
<script>
    layui.use(['layer','form','jquery'],function () {
        var layer = layui.layer;
        var form = layui.form;
        var $ = layui.jquery;

        $("#fomedemo").click(function () {
            var data = $("#loginform").serializeArray();
            $.ajax({
                type:'POST',
                url:'user/login',
                async:false,
                data:data,
                success:function (data) {
                    if(data==1){
                        location.href="index";
                    }else if(data==2){
                        layer.msg('验证码输入错误');
                    }else if(data==3){
                        layer.msg('用户名或密码错误');
                    }else {
                        location.href = "login";
                    }
                }
            })
        });

        // form.on('formDemo',function () {
        //     var data = $("#loginform").serializeArray();
        //     alert(data);
        //     $.ajax({
        //         type:'POST',
        //         url:'user/login',
        //         async:false,
        //         data:data,
        //         success:function (data) {
        //             if(data==1){
        //                 location.href="loginsuccess";
        //                 alert("成功登录");
        //             }else if(data==2){
        //                 layer.msg('验证码输入错误');
        //             }else if(data==3){
        //                 layer.msg('用户名或密码错误');
        //             }else {
        //                 // location.href = "userlogin";
        //                 alert(123);
        //             }
        //         }
        //     })
        // })
        // form.random();
    })
</script>

</body>
</html>

<!--<select id="selectCountByUip" parameterType="com.example.entity.UserExample" resultMap="BaseResultMap">-->
<!--    select *  from user where uip=#{uip}-->
<!--</select>-->
