<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户编辑</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
</head>

<body>
<form class="layui-form" action="" id="editForm">
    <input type="hidden" name="uid" id="inputuid" />
    <div class="layui-form-item">
        <label class="layui-form-label">用户名:</label>
        <div class="layui-input-inline">
            <input type="text" name="name" id="inputname" lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">性别:</label>
        <div class="layui-input-inline">
            <input type="text" name="sex" id="inputsex"  placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">电话号码:</label>
        <div class="layui-input-inline">
            <input type="text" name="phone" id="inputphone"  placeholder="请输入电话号码" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">密码:</label>
        <div class="layui-input-inline">
            <input type="text" name="password" id="inputpassword"  placeholder="请输入电话号码" autocomplete="off" class="layui-input">
        </div>
    </div>
<!--    <div class="layui-form-item">-->
<!--        <label class="layui-form-label">头像</label>-->
<!--        <div class="layui-input-inline">-->
<!--            <input type="text" name="headportrait" id="inputheadportrait"  placeholder="请输入电话号码" autocomplete="off" class="layui-input">-->
<!--        </div>-->
<!--    </div>-->
    <div class="layui-form-item">
        <label class="layui-form-label ">照片:</label>
        <div class="layui-input-block">
            <div class="layui-upload-list">
                <img class="layui-upload-img" id="demo1"  style="width:100px;height:100px;">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">生日:</label>
        <div class="layui-input-inline">
            <input type="text" name="birthday" id="inputbirthday"  placeholder="请输入电话号码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱:</label>
        <div class="layui-input-inline">
            <input type="text" name="email" id="inputemail"  placeholder="请输入电话号码" autocomplete="off" class="layui-input">
        </div>
    </div>

</form>

<!--<script type="text/html" id="imgtmp">-->
<!--    <img src="/ioReadImage/{{data.headportrait}}" style="width:50px;height:50px;"/>-->
<!--</script>-->
<script th:inline="none">
    function child(data) {
        layui.use(['form','jquery'],function () {
            var form = layui.form;
            var $ = layui.jquery;

            console.log(data);
            //给编辑表单赋值
            $("#inputuid").val(data.uid);
            $("#inputname").val(data.name);
            $("#inputsex").val(data.sex);
            $("#inputphone").val(data.phone);
            $("#inputpassword").val(data.password);
            $("#inputheadportrait").val(data.headportrait);
            $("#inputbirthday").val(data.birthday);
            $("#inputemail").val(data.email);

            $(document).ready(function(){
                $('#demo1').attr('src','/ioReadImage/'+data.headportrait);
            })
            form.render();

        });


    }



</script>


<!--    &lt;!&ndash;  js请求获取uid  &ndash;&gt;-->
<!--    // function GetQueryString(name)-->
<!--    // {-->
<!--    //     var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");-->
<!--    //     var r = window.location.search.substr(1).match(reg);//search,查询？后面的参数，并匹配正则-->
<!--    //     if(r!=null)return  unescape(r[2]); return null;-->
<!--    // };-->
<!--    // alert(GetQueryString('uid'));-->
<!--    //-->
<!--    // layui.use(['form', 'laydate','upload','jquery','layer'], function() {-->
<!--    //     var form = layui.form;-->
<!--    //     var laydate = layui.laydate;-->
<!--    //     var upload = layui.upload;-->
<!--    //     var layer = layui.layer;-->
<!--    //     var $ = layui.jquery;-->
<!--    //     //laydate-->
<!--    //     laydate.render({-->
<!--    //         elem: '#inputtime' //指定元素-->
<!--    //     });-->
<!--    //     //监听提交-->
<!--    //     form.on('submit(edit-btn)', function() {-->
<!--    //         var formData =  new FormData($("#editForm")[0]);//获取填写表单数据-->
<!--    //         // var formData = $("#editForm").serializeArray();-->
<!--    //         $.ajax({-->
<!--    //             cache : true,-->
<!--    //             type : "post",-->
<!--    //             dataType:"json",-->
<!--    //             url : "/user/saveupdate",-->
<!--    //             async : false,-->
<!--    //             data : formData,  // 你的formid，传参数到后台-->
<!--    //             contentType: false,  //jax 中 contentType 设置为 false 是为了避免 JQuery 对其操作，从而失去分界符，而使服务器不能正常解析文件-->
<!--    //             processData: false,  //当设置为true的时候,jquery ajax 提交的时候不会序列化 data，而是直接使用da-->
<!--    //             success : function(data){ //data后台return的值-->
<!--    //                 if (data==1) {-->
<!--    //                     layer.msg('hello');-->
<!--    //                     alert("修改成功");-->
<!--    //                     window.parent.location.reload();//修改成功后刷新父界面-->
<!--    //                 } else {-->
<!--    //                     alert("失败");-->
<!--    //                 }-->
<!--    //             },-->
<!--    //         });-->
<!--    //         return false;-->
<!--    //     });-->
<!--    //     //图片上传-->
<!--    //     var uploadInst = upload.render({-->
<!--    //         elem: '#test2' //绑定元素-->
<!--    //         ,url: '/upload/' //上传接口-->
<!--    //         ,done: function(res){-->
<!--    //             //上传完毕回调-->
<!--    //         }-->
<!--    //         ,error: function(){-->
<!--    //             //请求异常回调-->
<!--    //         }-->
<!--    //     });-->
<!--    // });-->


</body>
</html>